*{padding: 0;margin: 0;}

:root{
	--Gris: #323232;
	--Blanco: #F9F9F9;
	--Rojo: #FF1E00;
}

body{font-family: monospace;background-color: var(--Gris) ;}

header h1{
	text-align: center;
	color: var(--Blanco);
}

button{
	border: none;
	outline: none;
	cursor: pointer;
}

textarea{
	resize: none;
	border: none;
	outline: none;
}

/*MENU PRINCIPAL*/

.menuPrincipal{
	display: flex; 
	flex-direction: column;
	align-items: center;
	gap: 8px;

	width: 317px;
	height: 68px;
	/*top: 250px;*/
	margin: 200px auto 0 auto;
}

	.btnJugar, .btnNuevoJuego , .btnAdd, .btnGuardar, .btnCancelar, .btnRendirse{
		padding:12px;
		border-radius: 10px ;
		margin-top: 7px;
	}
	.btnJugar{
		width: 100%;
		/*height: 114px;*/
		
	} 
	.btnAdd{
		color: var(--Blanco);
		background-color: var(--Gris);
		border: 1px var(--Blanco) solid;
		width: 70%;
		/*height: 67px;*/
	}

/*SALA DE JUEGO*/

.jugando{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.sectorLetras{
	width: 100%;

}

.letrasCorrectas{
	display: flex;
	justify-content: center;
}
.cajaLetra{
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: var(--Blanco);
	display: flex;
	height: 50px;
	width: 30px;
	border-bottom: 1px solid var(--Blanco);
	margin:0 5px;
}


.letrasIncorrectas{
	display: flex;
	margin: 0 auto;
	color: var(--Rojo);
	width: 160px;
	height: 15px;
	justify-content: center;
	align-items: center;

}
.letrasIncorrectas p{
	display: flex;
	justify-content: center;
	width: 20px;
}

/*canvas{
	border: var(--Blanco) solid 1px;
}*/

/*AGREGAR PALABRAS*/

.agregaPalabras{
	width: 400px;
	height: 512px;
	text-align: center;
	margin: 180px auto 0 auto;
}
.agregaPalabras textarea{
	background-color: var(--Blanco);
	color: var(--Gris);
	padding: 10px;
	width: 380px;
	height: 200px;
	border-radius: 10px;	
}
